# Configuração de final de linha
* text=auto

*.cs     diff=csharp

# Tratamento específico para arquivos de configuração
*.config text eol=lf

# Tratamento específico para arquivos de solução e projeto do Visual Studio
*.sln text eol=lf
*.csproj text eol=lf
*.vbproj text eol=lf
*.vcxproj text eol=lf
*.fsproj text eol=lf

# Binários (imagens, etc.)
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.dll binary
*.exe binary

# Ignorar arquivos de build
bin/* -diff
obj/* -diff

# Arquivos de log
*.log text eol=lf